<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="css/confirmshow.css" rel="stylesheet">
        <title>Song Confirmation</title>
    </head>
    <body>
        <h1>Registered Songs Information Are:</h1>
        <p th:inline="text">The Tv Show Name was[[${tvshow.names}]].<br />
        It is a:[[${tvshow.type}]].<br />
         It could be best described as
        [[${tvshow.description}]].<br />

        </p>
        <p><a href="tvform">Add More TV Show Info.</a></p>

    </body>
</html>